h1 {color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 3;
    font-size: 3em;
    text-align: center;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    color: navy;
}
body {
    background-color: powderblue;
}
h2 {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 15px;
}
h3 {
    color: blue;
    background-color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
table,th,td {
    background-color: lightblue;
    border: 2px dotted blue;
    width: 100vw;
}
a:link {
    text-decoration: none;
}
a:link {color: purple;
size: 2em;}

a:visited {
    color: gray;}
:hover {
    color: red;
    size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
}
a:active {
    color: green;
}
.importante {
    background-color: red;
    color: yellow;
}
.titulo-grande {
    font-style: italic;
    color: green;
    text-align: justify;
}

#retrato  {
    width: 200px;
    height: 300px;
    border: 2px solid blue;
}